<div class="modal-dialog modal-lg create-bookmark" style="display:none">
	<div class="modal-content">
		{% form_theme form 'form/fields.html.twig' %}
        {{ form_start(form) }}
		<div class="modal-header"><h3>Create new Bookmark</h3></div>
		<div class="modal-body">
            {{ form_row(form.name) }}
            {{ form_row(form.icon) }}
        </div>
   		<div class="modal-footer">{{ form_row(form.save) }}</div>
        {{ form_end(form) }}
    </div>
</div>
<div class="modal-backdrop fade show" style="display:none"></div>



<script>

$(function() {
	$(".modal-backdrop").click(function() {
		$(".create-bookmark").hide();
		$(".modal-backdrop").hide();
	});


	// delete
	$("a[data=delete-bookmark]").click(function() {
		var id = $(this).attr("data-id");
		if (id) {
			$.post("{{ path('deleteBookmark') }}", { bookmarkId: id})
			.done(function(data) {
				if (data.data == "ok") {
					window.location.replace("{{ path("app_dashboard_default") }}");
				}
	        })
		}
	});

	// map modal
	$("a[data=create-bookmark]").click(function() {
		$(".create-bookmark").show();
		$(".modal-backdrop").show();

		var id = $(this).attr("data-id");
		if (id) {
			$.get("{{ path('getBookmark') }}", { bookmarkId: id}, function(data) {
				var j = JSON.parse(data.data);
				$.each(j, function(index, value) {
					$("#bookmark_" + index).val(value)
        		});

			});
		}
	});


	// create or update
	$("form[name=bookmark]").on('submit', function(e) {
		e.preventDefault();
		let data = {};
        $(this).serializeArray().forEach((object)=>{
            var key = object.name.substring(object.name.lastIndexOf("[") + 1, object.name.lastIndexOf("]"));
      		data[key] =  object.value;
        });

		$.post("{{ path('saveBookmark') }}", JSON.stringify(data))
		.fail(function(data) {
            $.each(JSON.parse(data.responseJSON.errors),function(index, value){
            	var errorHtml = $("<ul class='errors'></ul>");
            	value.forEach(function(errro) {
            		errorHtml.append("<li>" + errro + "</li>");
        		});
            	$("#bookmark_" + index).after(errorHtml);
            	$("#bookmark_" + index).addClass('b-c-r');
            });
		}).done(function(data) {
			location.reload();
			console.log(data);
        });
	});
});
</script>