<div class="modal-dialog modal-lg create-bookmark" style="display:none">
	<div class="modal-content">
		{% form_theme form 'form/fields.html.twig' %}
        {{ form_start(form) }}
		<div class="modal-header"><h3>Create new Bookmark</h3></div>
		<div class="modal-body">
            {{ form_row(form.name) }}
            {{ form_row(form.icon) }}
        </div>
   		<div class="modal-footer">{{ form_row(form.save) }}</div>
        {{ form_end(form) }}
    </div>
</div>
<div class="modal-backdrop fade show" style="display:none"></div>



<script>

$(function() {
	$(".modal-backdrop").click(function() {
		$(".create-bookmark").hide();
		$(".modal-backdrop").hide();
	});

	$("a[data=create-bookmark]").click(function() {
		$(".create-bookmark").show();
		$(".modal-backdrop").show();
	});

	$("form[name=bookmark]").on('submit', function(e) {
		e.preventDefault();
		let data = {};
        $(this).serializeArray().forEach((object)=>{
            var key = object.name.substring(object.name.lastIndexOf("[") + 1, object.name.lastIndexOf("]"));
      		data[key] =  object.value;
        });

		$.post("{{ path('app_dashboard_createbookmark') }}", JSON.stringify(data))
		.fail(function(data) {
            $.each(JSON.parse(data.responseJSON.errors),function(index, value){
            	var errorHtml = $("<ul class='errors'></ul>");
            	value.forEach(function(errro) {
            		errorHtml.append("<li>" + errro + "</li>");
        		});
            	$("#bookmark_" + index).after(errorHtml);
            	$("#bookmark_" + index).addClass('b-c-r');
            });
		}).done(function(data) {
			location.reload();
			console.log(data);
        });
	});
});
</script>