<div class="modal-dialog modal-lg create-link" style="display:none">
	<div class="modal-content">
		{% form_theme formLink 'form/fields.html.twig' %}
        {{ form_start(formLink) }}
		<div class="modal-header"><h3>Create new Link</h3></div>
		<div class="modal-body">
            {{ form_row(formLink.name) }}
            {{ form_row(formLink.icon) }}
            {{ form_row(formLink.link) }}
            {{ form_row(formLink.newWindow) }}
            {{ form_row(formLink.bookmark) }}
        </div>
   		<div class="modal-footer">{{ form_row(formLink.save) }}</div>
        {{ form_end(formLink) }}
    </div>
</div>
<div class="modal-backdrop fade show" style="display:none"></div>



<script>

$(function() {
	$(".modal-backdrop").click(function() {
		$(".create-link").hide();
		$(".modal-backdrop").hide();
	});


	// delete
	$("a[data=delete-link]").click(function() {
		var id = $(this).attr("data-id");
		if (id) {
			$.post("{{ path('app_dashboard_deletelink') }}", { linkId: id})
			.done(function(data) {
				if (data.data == "ok") {
					location.reload();
				}
	        })
		}
	});

	// map modal
	$("a[data=create-link]").click(function() {
		$(".create-link").show();
		$(".modal-backdrop").show();

		var id = $(this).attr("data-id");
		if (id) {
			$.get("{{ path('app_dashboard_getlink') }}", { linkId: id}, function(data) {
				var j = JSON.parse(data.data);
				$.each(j, function(index, value) {
					$("#link_" + index).val(value)
        		});

			});
		}
	});


	// create or update
	$("form[name=link]").on('submit', function(e) {
		e.preventDefault();
		let data = {};
        $(this).serializeArray().forEach((object)=>{
            var key = object.name.substring(object.name.lastIndexOf("[") + 1, object.name.lastIndexOf("]"));
            data[key] =  object.value;
        });
//         data['bookmarkId'] = $(this).attr("data-bookmark-id");
//         console.log($(this));
//         var bookmarkId = $(this).attr("data-bookmark-id");
		$.post("{{ path('app_dashboard_createlink') }}", JSON.stringify(data))
		.fail(function(data) {
            $.each(JSON.parse(data.responseJSON.errors),function(index, value){
            	var errorHtml = $("<ul class='errors'></ul>");
            	value.forEach(function(errro) {
            		errorHtml.append("<li>" + errro + "</li>");
        		});
            	$("#link_" + index).after(errorHtml);
            	$("#link_" + index).addClass('b-c-r');
            });
		}).done(function(data) {
			location.reload();
			console.log(data);
        });
	});
});
</script>