<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ asset('css/front.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/common.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/custom.js') }}" type="text/javascript"></script>
        {% block body %}{% endblock %}
        <title>{% block title %}Orion{% endblock %}</title>
    </head>
    <body>
        {% block javascripts %}{% endblock %}
		<div id="header">
			<div class="header-right">
			{% if app.user %}
    			<a href="#" class="dropdown-toggle">{{ app.user.email }}</a>
    			<div class="user-menu dropdown-menu">
    				<a href="{{ path('app_settings_tilepack_tilepackpack') }}">Tile Pack Settings</a>
    				<a href="{{ path('logout') }}">Logout</a>
    			</div>
			{% else %}
				<a href="{{ path('app_login') }}">Login</a>
			{% endif %}
			</div>
		</div>

		<div id="content">
    		{% block content %}
    			content here
    		{% endblock %}
		</div>

		{% block footer %}
{# 			<div id="footer">#}
{# 				&copy; Copyright 2019 by <a href="http://lukasfessl.cz">Lukáš Fessl</a>#}
{# 			</div>#}
		{% endblock %}

    </body>
</html>
